main {
    display: grid;
    grid-template-columns: 10rem auto;
    grid-template-rows: 4.5rem auto;
    height: 100vh;
    grid-template-areas:
        "menu menu"
        "sidebar main";
}

#menu {
    grid-area: menu;
}

#barra-lateral {
    grid-area: sidebar;
}

main {
    grid-area: main;
}

#main {
    padding: 2rem 2rem 0 2rem;
    overflow: auto;
}
